<div ng-show="data.game == null">
    <button type="button" ng-click="methods.browseGames()">Browse games</button>
    <button type="button" ng-click="methods.startGame()">Start game</button>
</div>
<div ng-show="data.game != null">
    <button type="button" ng-click="methods.resumeGame()">Resume game</button>
    <button type="button" ng-click="methods.getActiveGame()">Force refresh game</button>
    <button type="button" ng-show="data.game.state == 'GameEnd'" ng-click="methods.leaveGame()">Leave game</button>
</div>
<div ng-show="data.game != null">
    <button type="button" ng-click="methods.sendForfeitGameCommand()">Forfeit</button>
    <div ng-show="data.game.state == 'Lobby' && data.game.players['self'].isTurn">
        <button type="button" ng-click="methods.sendStartCommand()">Start</button>
    </div>
    <div ng-show="data.game.state == 'PickStartingPlayer'">
        <select ng-model="data.input.startingPlayer" ng-options="player.id as player.name for (playerSide, player) in data.game.players"></select>
        <button type="button" ng-click="methods.sendPickStartingPlayerCommand(data.input.startingPlayer)">Pick player</button>
    </div>
    <div ng-show="data.game.state == 'Redraw' && data.game.players['self'].isTurn">
        <select ng-model="data.input.redrawCard" ng-options="card.cardId for card in data.game.players['self'].cards['hand']"></select>
        <button type="button" ng-click="methods.sendRedrawCardCommand(data.input.redrawCard)">Redraw</button>
        <button type="button" ng-click="methods.sendEndRedrawCardCommand()">End redrawing</button>
    </div>
    <div ng-show="data.game.state == 'Round' && data.game.players['self'].isTurn">
        <select ng-model="data.input.playCard" ng-options="card.cardId for card in data.game.players['self'].cards['hand']" ng-change="methods.getValidSlots(data.input.playCard)"></select>
        <select ng-model="data.input.playCardSlot" ng-options="slot for slot in data.input.validSlots"></select>
        <!-- TODO: Add a target CardId and target slot picker-->
        <button type="button" ng-click="methods.sendPlayCardCommand(data.input.playCard, data.input.playCardSlot)">Play card</button>
        <button type="button" ng-click="methods.sendPassCommand()">Pass</button>
        <button type="button" ng-click="methods.sendUseBattleKingCardCommand()">Use battle king card</button>
    </div>
</div>
<div ui-view></div>
