<div>Debug: Game {{data.game | json}}</div>
<link rel="stylesheet" type="text/css" href="templates/menu/game-lobby.css">
<div id="gwint-table">
    <div id="gwint-left">
        <div id="top-player-leader-card" class="leader-card">
            <div class="card"></div>
        </div>
        <div id="top-player-turn-indicator" class="turn-indicator"></div>
        <div id="top-player-info" class="player-info">
            <div id="top-player-info-avatar" class="player-info-avatar"></div>
            <div id="top-player-info-name" class="player-info-name"></div>
            <div id="top-player-info-faction" class="player-info-faction"></div>
            <div id="top-player-info-hand" class="player-info-hand"></div>
            <div id="top-player-info-lives" class="player-info-lives"></div>
        </div>
        <div id="weather">
            <div id="weather-cards">
                <div class="card"></div>
                <div class="card"></div>
            </div>
        </div>
        <div id="bottom-player-info" class="player-info">
            <div id="bottom-player-info-avatar" class="player-info-avatar"></div>
            <div id="bottom-player-info-name" class="player-info-name"></div>
            <div id="bottom-player-info-faction" class="player-info-faction"></div>
            <div id="bottom-player-info-hand" class="player-info-hand"></div>
            <div id="bottom-player-info-lives" class="player-info-lives"></div>
        </div>
        <div id="bottom-player-leader-card" class="leader-card">
            <div class="card"></div>
        </div>
        <div id="bottom-player-turn-indicator" class="turn-indicator"></div>
    </div>
    <div id="gwint-middle">
        <div id="battlefield">
            <div id="top-player-siege-row" class="battlefield-row">
                <div id="top-player-siege-row-power" class="battlefield-row-power"></div>
                <div id="top-player-siege-row-horn" class="battlefield-row-horn">
                    <div id="top-player-siege-row-horn-icon" class="battlefield-row-icon battlefield-row-horn-icon"></div>
                </div>
                <div id="top-player-siege-row-cards" class="battlefield-row-cards">
                    <div id="top-player-siege-row-cards-icon" class="battlefield-row-icon battlefield-row-cards-icon"></div>
                </div>
            </div>
            <div id="top-player-ranged-row" class="battlefield-row">
                <div id="top-player-ranged-row-power" class="battlefield-row-power"></div>
                <div id="top-player-ranged-row-horn" class="battlefield-row-horn">
                    <div id="top-player-ranged-row-horn-icon" class="battlefield-row-icon battlefield-row-horn-icon"></div>
                    <div class="card"></div>
                </div>
                <div id="top-player-ranged-row-cards" class="battlefield-row-cards">
                    <div id="top-player-ranged-row-cards-icon" class="battlefield-row-icon battlefield-row-cards-icon"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                </div>
            </div>
            <div id="top-player-melee-row" class="battlefield-row">
                <div id="top-player-melee-row-power" class="battlefield-row-power"></div>
                <div id="top-player-melee-row-horn" class="battlefield-row-horn">
                    <div id="top-player-melee-row-horn-icon" class="battlefield-row-icon battlefield-row-horn-icon"></div>
                </div>
                <div id="top-player-melee-row-cards" class="battlefield-row-cards">
                    <div id="top-player-melee-row-cards-icon" class="battlefield-row-icon battlefield-row-cards-icon"></div>
                </div>
            </div>
            <div id="bottom-player-melee-row" class="battlefield-row">
                <div id="bottom-player-melee-row-power" class="battlefield-row-power"></div>
                <div id="bottom-player-melee-row-horn" class="battlefield-row-horn">
                    <div id="bottom-player-melee-row-horn-icon" class="battlefield-row-icon battlefield-row-horn-icon"></div>
                </div>
                <div id="bottom-player-melee-row-cards" class="battlefield-row-cards">
                    <div id="bottom-player-melee-row-cards-icon" class="battlefield-row-icon battlefield-row-cards-icon"></div>
                </div>
            </div>
            <div id="bottom-player-ranged-row" class="battlefield-row">
                <div id="bottom-player-ranged-row-power" class="battlefield-row-power"></div>
                <div id="bottom-player-ranged-row-horn" class="battlefield-row-horn">
                    <div id="bottom-player-ranged-row-horn-icon" class="battlefield-row-icon battlefield-row-horn-icon"></div>
                </div>
                <div id="bottom-player-ranged-row-cards" class="battlefield-row-cards">
                    <div id="bottom-player-ranged-row-cards-icon" class="battlefield-row-icon battlefield-row-cards-icon"></div>
                </div>
            </div>
            <div id="bottom-player-siege-row" class="battlefield-row">
                <div id="bottom-player-siege-row-power" class="battlefield-row-power"></div>
                <div id="bottom-player-siege-row-horn" class="battlefield-row-horn">
                    <div id="bottom-player-siege-row-horn-icon" class="battlefield-row-icon battlefield-row-horn-icon"></div>
                </div>
                <div id="bottom-player-siege-row-cards" class="battlefield-row-cards">
                    <div id="bottom-player-siege-row-cards-icon" class="battlefield-row-icon battlefield-row-cards-icon"></div>
                </div>
            </div>
        </div>
        <div id="top-player-battlefield-power" class="battlefield-power"></div>
        <div id="bottom-player-battlefield-power" class="battlefield-power"></div>
        <div id="bottom-player-hand">
            <div class="card"></div>
            <div class="card card-active"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
    </div>
    <div id="gwint-right">
        <div id="top-player-disposed-cards" class="disposed-cards">
            <div id="top-player-disposed-cards-stack" class="disposed-cards-stack"></div>
            <div id="top-player-disposed-cards-icon" class="disposed-cards-icon"></div>
        </div>
        <div id="top-player-deck-cards" class="deck-cards">
            <div id="top-player-deck-cards-count" class="deck-cards-count"></div>
        </div>
        <div id="bottom-player-disposed-cards" class="disposed-cards">
            <div id="bottom-player-disposed-cards-stack" class="disposed-cards-stack">
                <div class="card"></div>
            </div>
            <div id="bottom-player-disposed-cards-icon" class="disposed-cards-icon"></div>
        </div>
        <div id="bottom-player-deck-cards" class="deck-cards">
            <div id="bottom-player-deck-cards-count" class="deck-cards-count"></div>
        </div>
    </div>
</div>